zadanie1/__pycache__/__init__.cpython-37.pyc
zadanie1/__pycache__/settings.cpython-37.pyc
challenges/migrations/__init__.py
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/zadanie1.iml
